* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#markdown-container {
  flex-basis: 1/2;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview-container {
  flex-basis: 1/2;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview {
  border: none;
  outline: none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  height: 90%;
  width: 90%;
  border-radius: 25px;
  background-color: #eee;
  padding: 50px;
  font-size: 110%;
}

#markdown {
  border: none;
  outline: none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  height: 90%;
  width: 90%;
  border-radius: 25px;
  background-color: #eee;
  padding: 50px;
  font-size: 120%;
}

#markdown:focus {
  border: none;
  outline: none;
}

code {
  background-color: #999;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
